sudo: required

language: generic

services:
 - docker

 before_install:
  - echo "start creating an image with dockerfile"
  - docker build -t khdkkhdd/simple-react-app -f ./simple-react-app/Dockerfile.dev ./simple-react-app

script:
 - docker run -e CI=true khdkkhdd/simple-react-app npm run test -- --coverage

 after_success:
  - echo "Test success"